FORMAT: 1A
HOST: https://apibeta.kumparan.com/v3.0/

# kumkum

This is a RESTful API allowing webclient communicate with backend. 

# Allowed HTTPs Verbs

- `GET` - Get a resource or list of resources
- `POST` - To create or update resource
- `PUT` - To update resource
- `PATCH` - To update part of resource
- `DELETE` - To delete resource

# Usual Server Responses

- `200 OK` - the request was successful (some API calls may return 201 instead).
- `201 Created` - the request was successful and a resource was created.
- `202 Accepted` - the request was accepted and enqueue for processing later.
- `204 No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- `400 Bad Request` - the request could not be understood or was missing required parameters.
- `401 Unauthorized` - authentication failed.
- `403 Forbidden` - access denied.
- `402 Payment Required` - payment is required.
- `404 Not Found` - resource was not found.
- `410 Gone` - the resource has been expired.
- `422 Unprocessable Entity` - i.e. validation errors.
- `500 Internal Server Error` - Bad bad bad.
- `503 Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Data Format

## JSON
Any complex data type MUST be encoded in JSON.  

# Group Auth

## Auth Token Collection [/auth/token{?provider,access_token}]
### Token [GET]

+ Parameter
    + provider - string
    + access_token - string


+ Response 200 (application/json)
    
        {
            "status": 200,
            "error": {
                "code": 0,
                "message": ""
            },
            "results": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVVUlEIjoiIiwiX2lkIjoidjFfdXNlcnMvMTUzMzkxMzM4NzU5MzE0OTYxMiIsIl9rZXkiOiIxNTMzOTEzMzg3NTkzMTQ5NjEyIiwiX3JldiI6Il9YUU5wQldtLS0tIiwiY292ZXJQaWN0dXJlIjoiIiwiZW1haWwiOiJtaEBzZXB0aWFkaS5jb20iLCJpbnRlcmVzdCI6IiIsIm5hbWUiOiJNdWhhbW1hZCBIYXNhbiBTZXB0aWFkaSIsInBob25lIjoiIiwicHJvZmlsZVBpY3R1cmUiOiJodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9rdW1wYXIvaW1hZ2UvZmFjZWJvb2svd18zMDAsaF8zMDAsY19maWxsLGdfZmFjZS8xMDIxMjQ3NTc4OTUwNDk0OC5qcGciLCJwcm92aWRlciI6IiIsInVzZXJuYW1lIjoibXVoYW1tYWQtaGFzYW4tc2VwdGlhZGkifQ.Tu4ajKzXNI0x44cIMzaRDN1TZopg58uAPitUbIIVmKc",
                "isNew": false
            },
            "isNew": false,
            "cookie": "token=eyJ0b2tlbiI6ImV5SmhiR2NpT2lKSVV6STFOaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpWVlVsRUlqb2lJaXdpWDJsa0lqb2lkakZmZFhObGNuTXZNVFV6TXpreE16TTROelU1TXpFME9UWXhNaUlzSWw5clpYa2lPaUl4TlRNek9URXpNemczTlRrek1UUTVOakV5SWl3aVgzSmxkaUk2SWw5WVVVNXdRbGR0TFMwdElpd2lZMjkyWlhKUWFXTjBkWEpsSWpvaUlpd2laVzFoYVd3aU9pSnRhRUJ6WlhCMGFXRmthUzVqYjIwaUxDSnBiblJsY21WemRDSTZJaUlzSW01aGJXVWlPaUpOZFdoaGJXMWhaQ0JJWVhOaGJpQlRaWEIwYVdGa2FTSXNJbkJvYjI1bElqb2lJaXdpY0hKdlptbHNaVkJwWTNSMWNtVWlPaUpvZEhSd2N6b3ZMM0psY3k1amJHOTFaR2x1WVhKNUxtTnZiUzlyZFcxd1lYSXZhVzFoWjJVdlptRmpaV0p2YjJzdmQxOHpNREFzYUY4ek1EQXNZMTltYVd4c0xHZGZabUZqWlM4eE1ESXhNalEzTlRjNE9UVXdORGswT0M1cWNHY2lMQ0p3Y205MmFXUmxjaUk2SWlJc0luVnpaWEp1WVcxbElqb2liWFZvWVcxdFlXUXRhR0Z6WVc0dGMyVndkR2xoWkdraWZRLlR1NGFqS3pYTkkweDQ0Y0lNemFSRE4xVFpvcGc1OHVBUGl0VWJJSVZtS2MifQ==; domain=localhost; expires=Sat, 09 Feb 2019 20:51:37 WIB; path=/; Secure; HttpOnly"
        }

## Auth Info Collection [/auth/info]
### Info [GET]
+ Request

    + Header
        
            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVVUlEIjpudWxsLCJhYm91dG1lIjpudWxsLCJiaXJ0aGRheSI6IjE5OTgtMDMtMTAiLCJkYXRhdHlwZSI6InVzZXIiLCJkYXRlIjp7ImNyZWF0ZSI6IjIwMTgtMDMtMjVUMTc6MDU6MDkuNDI2WiJ9LCJlbWFpbCI6Ijc5Mzk4NzczNDEyNDQyN0BmYWNlYm9vay5jb20iLCJmbGFnIjp7ImlzVmVyaWZpZWQiOmZhbHNlfSwiZ2VuZGVyIjoibWFsZSIsImdyb3VwcyI6bnVsbCwibGV2ZWwiOjAsIm5hbWUiOiJEb25pIFN5YWhydWwgQXphbiIsInByb2ZpbGVQaWN0dXJlIjoiaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20va3VtcGFyL2ltYWdlL2ZhY2Vib29rL3dfMzAwLGhfMzAwLGNfZmlsbCxnX2ZhY2UvNzkzOTg3NzM0MTI0NDI3LmpwZyIsInByb3ZpZGVyIjp7ImlkIjoiNzkzOTg3NzM0MTI0NDI3IiwibmFtZSI6ImZhY2Vib29rIn0sInN0YXR1cyI6ImFjdGl2ZSIsInVzZXIiOnsiY3JlYXRlIjpudWxsLCJkZWxldGVkIjpudWxsLCJ1cGRhdGUiOm51bGx9LCJ1c2VybmFtZSI6ImRvbmktc3lhaHJ1bC1hemFuIiwidmVyaWZpY2F0aW9uIjp7ImVtYWlsIjpmYWxzZSwicGhvbmUiOmZhbHNlfSwiX2lkIjoidjFfdXNlcnMvMjc0MzExMTA3OTA2MDg0OTIiLCJfa2V5IjoiMjc0MzExMTA3OTA2MDg0OTIiLCJpc05ldyI6dHJ1ZSwidWlkIjoiMjc0MzExMTA3OTA2MDg0OTIiLCJleHAiOjE2MDc3OTEwMzN9.wLY44sofhHYxXrnRBepbJeJssAPxZpy4rCv_mjbst_8
            
+ Response 200 (application/json)

        {
            "status": 200,
            "error": {
                "code": 0,
                "message": null
            },
            "results": {
                "UUID": null,
                "aboutme": null,
                "birthday": "1998-03-10",
                "datatype": "user",
                "date": {
                    "create": "2018-03-25T17:05:09.426Z"
                },
                "email": "793987734124427@facebook.com",
                "flag": {
                    "isVerified": false
                },
                "gender": "male",
                "groups": null,
                "level": 0,
                "name": "Doni Syahrul Azan",
                "profilePicture": "https://res.cloudinary.com/kumpar/image/facebook/w_300,h_300,c_fill,g_face/793987734124427.jpg",
                "provider": {
                    "id": "793987734124427",
                    "name": "facebook"
                },
                "status": "active",
                "user": {
                    "create": null,
                    "deleted": null,
                    "update": null
                },
                "username": "doni-syahrul-azan",
                "verification": {
                    "email": false,
                    "phone": false
                },
                "_id": "v1_users/27431110790608492",
                "_key": "27431110790608492",
                "isNew": true,
                "uid": "27431110790608492",
                "exp": 1607791033
            }
        }
        
## Auth Logout Collection [/auth/logout]
### Logout [GET]

+ Response 200 (application/json)
    
        {
            "status": 200,
            "error": {
                "code": 0,
                "message": ""
            },
            "results": null,
            "isNew": false,
            "cookie": "token=; domain=localhost; expires=Thu, 01 Jan 1970 07:00:00 WIB; path=/; Secure; HttpOnly"
        }
        
        
# Group Reaction

## Reaction Collection [/reaction{?objectid,type,page,limit}]

### List [GET]

+ Parameter
    + objectid - string
    + type - string
    + page - integer
    + limit - integer

+ Request

    + Header
        
            Authorization: Bearer ABC123
        
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 2,
            "results": [
                {
                    "_key": "1164792664",
                    "context": "like",
                    "datatype": "reaction",
                    "date": {
                        "create": "2017-08-06T03:14:05.624Z",
                        "deleted": null,
                        "update": null
                    },
                    "objectid": "1164793585",
                    "type": "story",
                    "userid": "40423693",
                    "user": [
                        {
                            "id": "40423693",
                            "name": "Muhammad Fikrie",
                            "profilePicture": "https://alibaba.kumpar.com/kumpar/image/upload/w_300,h_300,c_scale,c_thumb/fyaoe3aiskzqinnpf2xe.jpg"
                        }
                    ]
                    },
                    {
                        "_key": "1164792336",
                        "context": "like",
                        "datatype": "reaction",
                        "date": {
                            "create": "2017-08-05T10:20:10.128Z",
                            "deleted": null,
                            "update": null
                        },
                        "objectid": "1164793585",
                        "type": "story",
                        "userid": "852806170",
                        "user": [
                            {
                                "id": "852806170",
                                "name": "Anisa Hapsari K",
                                "profilePicture": "https://gimg.kumpar.com/kumpar/image/upload/w_500,c_scale,c_thumb/1499389974306_sri5vdk"
                            }
                        ]
                    }
                ]
        }


### Create [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body
    
            {
                "userid": "123456789",
                "objectid": "1164793585",
                "type": "story",
                "context": "like"
            }
        
+ Response 200 (application/json)

        {
            "objectid": "1164793585",
            "type": "story",
            "context": "like",
            "userid": "27431110790355723",
            "date": {
                "create": "2018-06-18T14:17:49.435Z",
                "update": null,
                "deleted": null
            },
            "datatype": "reaction",
            "_key": "27431110790464944",
            "action": "like"
        }
    
    
### Delete [DELETE]

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
    + Body
        
            {
                "objectid": "1164793585",
                "type": "story"
            }

+ Response 200 (application/json)

        {
            "_key": "27431110790464945",
            "objectid": "1164793585",
            "type": "story",
            "context": "like",
            "userid": "27431110790355723",
            "date": {
                "create": "2018-06-19T00:46:03.043Z",
                "update": null,
                "deleted": null
            },
            "datatype": "reaction",
            "action": "unlike"
        }

    
## Reaction Users Collection [/reaction/users{?page,limit,objectid,type}]

### List [GET]

+ Parameter
    + objectid - string
    + type - string
    + page - integer
    + limit - integer
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
        
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 1,
            "results": [
                {
                    "_key": "27431110790464944",
                    "objectid": "1164793585",
                    "type": "story",
                    "context": "like",
                    "userid": "27431110790355723",
                    "date": {
                        "create": "2018-06-18T14:17:49.435Z",
                        "update": null,
                        "deleted": null
                    },
                    "datatype": "reaction"
                }
            ]
        }

## Reaction Liked Collection [/reaction/{key}{?page,limit,date,datetype}]

### List [GET]

+ Parameter
    + date - string
    + datetype - string
    + page - integer
    + limit - integer
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
        
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 1,
            "results": [
                {
                    "_key": "1164792664",
                    "context": "like",
                    "datatype": "reaction",
                    "date": {
                        "create": "2017-08-06T03:14:05.624Z",
                        "deleted": null,
                        "update": null
                    },
                    "objectid": "1164793585",
                    "type": "story",
                    "userid": "40423693",
                    "user": [
                        {
                            "id": "40423693",
                            "name": "Muhammad Fikrie",
                            "profilePicture": "https://alibaba.kumpar.com/kumpar/image/upload/w_300,h_300,c_scale,c_thumb/fyaoe3aiskzqinnpf2xe.jpg"
                        }
                    ]
                },
                {
                    "_key": "1164792336",
                    "context": "like",
                    "datatype": "reaction",
                    "date": {
                        "create": "2017-08-05T10:20:10.128Z",
                        "deleted": null,
                        "update": null
                    },
                    "objectid": "1164793585",
                    "type": "story",
                    "userid": "852806170",
                    "user": [
                        {
                            "id": "852806170",
                            "name": "Anisa Hapsari K",
                            "profilePicture": "https://gimg.kumpar.com/kumpar/image/upload/w_500,c_scale,c_thumb/1499389974306_sri5vdk"
                        }
                    ]
                }
            ]
        }
    

# Group Topic

## Topics Collection [/topic{?page,limit,sort,version,ids,all,promoted,isview,ismenu,isspecial,fullStat}]

### List [GET]

+ Parameter
    + page - integer
    + limit - integer
    + sort - string
    + version - string
    + ids - string
    + all - integer
    + promoted - integer
    + isview - integer
    + ismenu - integer
    + isspecial - integer
    + fullStat - integer
    
+ Request

    + Header
        
            Authorization: Bearer ABC123

+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 2,
            "results": [
                {
                    "_key": "1164792664",
                    "context": "like",
                    "datatype": "reaction",
                    "date": {
                        "create": "2017-08-06T03:14:05.624Z",
                        "deleted": null,
                        "update": null
                    },
                    "objectid": "1164793585",
                    "type": "story",
                    "userid": "40423693",
                    "user": [
                        {
                            "id": "40423693",
                            "name": "Muhammad Fikrie",
                            "profilePicture": "https://alibaba.kumpar.com/kumpar/image/upload/w_300,h_300,c_scale,c_thumb/fyaoe3aiskzqinnpf2xe.jpg"
                        }
                    ]
                },
                {
                    "_key": "1164792336",
                    "context": "like",
                    "datatype": "reaction",
                    "date": {
                        "create": "2017-08-05T10:20:10.128Z",
                        "deleted": null,
                        "update": null
                    },
                    "objectid": "1164793585",
                    "type": "story",
                    "userid": "852806170",
                    "user": [
                        {
                            "id": "852806170",
                            "name": "Anisa Hapsari K",
                            "profilePicture": "https://gimg.kumpar.com/kumpar/image/upload/w_500,c_scale,c_thumb/1499389974306_sri5vdk"
                        }
                    ]
                }
            ]
        }
        
### Create [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
    
            {
                "description": "Operasi Ketupat",
                "flag": {
                    "isPromoted": false,
                    "isViewEnable": false,
                    "special": false,
                    "isFollowed": false
                },
                "name": "Operasi Ketupat",
                "slug": "operasi-ketupat",
                "type": "public",
                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
                "position": false,
            }
    
+ Response 200 (application/json)

        {
            "_key": "27431110790314713",
            "author": {
                "id": "1173018080",
                "name": "Intan Alfitry Novian",
                "username": "intan-alfitry-novian1510843968203"
            },
            "date": {
                "create": "2018-05-31T10:37:15.269Z",
                "deleted": "",
                "update": "",
                "viewEnable": ""
            },
            "description": "Operasi Ketupat",
            "flag": {
                "isPromoted": false,
                "isViewEnable": false,
                "special": false,
                "isFollowed": false
            },
            "name": "Operasi Ketupat",
            "slug": "operasi-ketupat",
            "status": "publish",
            "type": "public",
            "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
            "user": {
                "create": "1173018080",
                "deleted": "",
                "update": ""
            },
            "statistic": {
                "follower": 0
            },
            "position": false,
        }
            
## Topic Object [/topic/{key}{?version}]

### Show [GET]

+ Parameter
    + version - string
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "_key": "27431110790314713",
            "author": {
                "id": "1173018080",
                "name": "Intan Alfitry Novian",
                "username": "intan-alfitry-novian1510843968203"
            },
            "date": {
                "create": "2018-05-31T10:37:15.269Z",
                "deleted": "",
                "update": "",
                "viewEnable": ""
            },
            "description": "Operasi Ketupat",
            "flag": {
                "isPromoted": false,
                "isViewEnable": false,
                "special": false,
                "isFollowed": false
            },
            "name": "Operasi Ketupat",
            "slug": "operasi-ketupat",
            "status": "publish",
            "type": "public",
            "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
            "user": {
                "create": "1173018080",
                "deleted": "",
                "update": ""
            },
            "statistic": {
                "follower": 0
            },
            "position": false,
        }
        
### Delete [DELETE]

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "_key": "27431110790314713",
            "author": {
                "id": "1173018080",
                "name": "Intan Alfitry Novian",
                "username": "intan-alfitry-novian1510843968203"
            },
            "date": {
                "create": "2018-05-31T10:37:15.269Z",
                "deleted": "2018-06-11T10:00:12.264Z",
                "update": "",
                "viewEnable": ""
            },
            "description": "Operasi Ketupat",
            "flag": {
                "isPromoted": false,
                "isViewEnable": false,
                "special": false,
                "isFollowed": false
            },
            "name": "Operasi Ketupat",
            "slug": "operasi-ketupat",
            "status": "publish",
            "type": "public",
            "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
            "user": {
                "create": "1173018080",
                "deleted": "1173018080",
                "update": ""
            },
            "statistic": {
                "follower": 0
            },
            "position": false,
        }

### Patch [PATCH]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
    
            {
                "description": "Operasi Ketupat",
                "flag": {
                    "isPromoted": false,
                    "isViewEnable": true,
                    "special": false,
                    "isFollowed": false
                },
                "name": "Operasi Ketupat",
                "slug": "operasi-ketupat",
                "status": "publish",
                "type": "public",
                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
                "position": true,
            }
    
+ Response 200 (application/json)

        {
            "_key": "27431110790314713",
            "author": {
                "id": "1173018080",
                "name": "Intan Alfitry Novian",
                "username": "intan-alfitry-novian1510843968203"
            },
            "date": {
                "create": "2018-05-31T10:37:15.269Z",
                "deleted": "",
                "update": "2018-06-12T10:37:15.269Z",
                "viewEnable": ""
            },
            "description": "Operasi Ketupat",
            "flag": {
                "isPromoted": false,
                "isViewEnable": true,
                "special": false,
                "isFollowed": false
            },
            "name": "Operasi Ketupat",
            "slug": "operasi-ketupat",
            "status": "publish",
            "type": "public",
            "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1497849787/q48vwe3bb1wqtjbu7kko.jpg",
            "user": {
                "create": "1173018080",
                "deleted": "",
                "update": "1173018080"
            },
            "statistic": {
                "follower": 0
            },
            "position": true,
        }


## Topic User Flags [/topic/{key}/user-flags]

### Get user flags of a topic [GET]

+ Request

    + Header
        
            Authorization: Bearer ABC123
            
+ Response 200 (application/json)

        {
            "isFollowed": true
        }
        
## Topic Promoted Collection [/topic/promote{?page,limit,active}]

### List [GET]

+ Parameter
    + page - integer
    + limit - integer
    + active - integer

+ Request

    + Header
        
            Authorization: Bearer ABC123

+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 1,
            "results": [
                {
                    "_key": "17205657987614537",
                    "date": {
                        "create": "2018-05-31T09:21:26.230Z",
                        "deleted": null,
                        "update": "2018-05-31T09:51:33.691Z"
                    },
                    "description": "In Frame Retno Marsudi: Dansa dan Diplomasi",
                    "media": {
                        "cloudinary": {
                            "id": "qnwsfk0yh5ct986hfyes",
                            "url": "https://alibaba.kumpar.com/kumpar/image/upload/c_fill,w_361,h_220/qnwsfk0yh5ct986hfyes"
                        },
                        "type": "image"
                    },
                    "name": "Retno Marsudi",
                    "slug": "retno-marsudi",
                    "status": "publish",
                    "title": "Retno Marsudi",
                    "topics": {
                        "mostCommentedStories": [],
                        "mostReadStories": [
                            "27431110790314703"
                        ],
                        "mostSharedStories": [],
                        "options": {
                            "removeDuplicate": true
                        },
                        "stories": [
                            "27431110790314703"
                        ]
                    },
                    "user": {
                        "create": "14419232521131870",
                        "deleted": null,
                        "update": "1443635276"
                    }
                }
            ]
        }
        
## Topic Promoted Object [/topic/promoted/{key}{?page,limit}]

### Show [GET]

+ Parameter
    + page - integer
    + limit - integer
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 327240,
            "results": [
                {
                    "_id": "v1_stories/27431110790513941",
                    "_key": "27431110790513941",
                    "_rev": "_W7Pr2nO--_",
                    "author": {
                        "_key": "36644670",
                        "id": "36644670",
                        "name": "Denny Armandhanu",
                        "username": "denny-armandhanu",
                        "profilePicture": "https://gimg.kumpar.com/kumpar/image/upload/w_500,c_scale,c_thumb/1509865749499_fzo1vc",
                        "flag": {
                            "isVerified": true,
                            "isFollowed": false,
                            "isFollowedPublisher": false
                        },
                        "userFlags": null,
                        "publisher": {
                            "name": "kumparanNEWS",
                            "title": null,
                            "description": "Tidak hanya breaking news, tapi juga dalam, akurat dan kredibel",
                            "picture": "https://gimg.kumpar.com/kumpar/image/upload/v1512588407/tufp3tpktdtkkk9uzl25.png",
                            "_key": "kumparan-news",
                            "slug": "kumparannews",
                            "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589035/hgvn2oalmyp6xbqfumvd.jpg",
                            "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588407/tufp3tpktdtkkk9uzl25.png"
                        }
                    },
                    "datatype": "story",
                    "date": {
                        "create": "2018-05-31T09:27:43.802Z",
                        "headline": null,
                        "publish": "2018-05-31T09:27:43.804Z",
                        "update": "2018-05-31T09:46:52.420Z"
                    },
                    "detail": {
                        "draftjs_object": "{\"entityMap\":{\"0\":{\"type\":\"image\",\"mutability\":\"IMMUTABLE\",\"data\":{\"image\":{\"_key\":\"27431110790362108\",\"bytes\":96930,\"date\":{\"create\":\"2018-01-31T08:51:21.623Z\",\"event\":\"2018-01-30T17:00:00.000Z\"},\"description\":\"Menlu Retno L.P. Marsudi\",\"dimensions\":{\"height\":720,\"width\":1280},\"location\":{\"lat\":-6.2293867,\"lng\":106.6894284,\"name\":\"DKI Jakarta\"},\"mimetype\":\"image/jpg\",\"permission\":0,\"photographer\":\"Fanny Kusumawardhani/kumparan\",\"public_id\":\"ql29xupf1iuzvib1slzq\",\"source\":\"kumparan\",\"status\":\"publish\",\"tagging\":[],\"title\":\"Menlu Retno L.P. Marsudi\",\"topics\":[],\"type\":\"image\",\"updatedContent\":[],\"uploader\":{\"id\":\"27431110790331481\",\"name\":\"Nugroho Sejati\"},\"url\":\"https://gimg.kumpar.com/kumpar/image/upload/v1517388528/ql29xupf1iuzvib1slzq.jpg\",\"user\":{\"create\":\"27431110790331481\",\"deleted\":null,\"update\":null}},\"alignment\":\"justify\",\"isCover\":true}},\"1\":{\"type\":\"link\",\"mutability\":\"MUTABLE\",\"data\":{\"href\":\"https://kumparan.com/topic/retno-marsudi/terkini\"}},\"2\":{\"type\":\"link\",\"mutability\":\"MUTABLE\",\"data\":{\"href\":\"https://kumparan.com/topic/kedubes-as-dipindahkan/terkini\"}},\"3\":{\"type\":\"link\",\"mutability\":\"MUTABLE\",\"data\":{\"href\":\"https://kumparan.com/topic/israel/terkini\"}},\"4\":{\"type\":\"image\",\"mutability\":\"IMMUTABLE\",\"data\":{\"image\":{\"_key\":\"27431110790447895\",\"bytes\":932490,\"date\":{\"create\":\"2018-05-14T09:32:09.781Z\",\"event\":\"2018-05-13T17:00:00.000Z\"},\"description\":\"Kedubes AS di Yerusalem.\",\"dimensions\":{\"height\":900,\"width\":1600},\"location\":{\"lat\":-6.2293867,\"lng\":106.6894284,\"name\":\"DKI Jakarta\"},\"mimetype\":\"image/jpg\",\"permission\":0,\"photographer\":\"AFP/Ahmad Gharabli\",\"public_id\":\"bsrvamutfazovbqts881\",\"source\":\"Others\",\"status\":\"publish\",\"tagging\":[],\"title\":\"Kedubes AS di Yerusalem.\",\"topics\":[],\"type\":\"image\",\"updatedContent\":[],\"uploader\":{\"id\":\"1164887353\",\"name\":\"Fitra Andrianto\"},\"url\":\"https://gimg.kumpar.com/kumpar/image/upload/v1526290233/bsrvamutfazovbqts881.jpg\",\"user\":{\"create\":\"1164887353\",\"deleted\":null,\"update\":null}},\"alignment\":\"justify\"}},\"5\":{\"type\":\"bacajuga\",\"mutability\":\"IMMUTABLE\",\"data\":{\"bacaJuga\":{\"links\":[{\"id\":0,\"url\":\"https://kumparan.com/@kumparannews/menlu-minta-negara-mikta-tak-pindahkan-kedutaan-ke-yerusalem?ref=body\"},{\"id\":1,\"url\":\"https://kumparan.com/@kumparannews/temui-wamenlu-as-menlu-singgung-palestina?ref=body\"},{\"id\":2,\"url\":\"https://kumparan.com/@kumparannews/jk-israel-negara-keras-dan-tak-peduli-resolusi-pbb?ref=body\"}],\"iframely\":{\"loaded\":true,\"items\":[{\"id\":0,\"url\":\"https://kumparan.com/@kumparannews/menlu-minta-negara-mikta-tak-pindahkan-kedutaan-ke-yerusalem?ref=body\",\"meta\":{\"date\":\"2018-05-22T03:44:17.750Z\",\"author\":\"Andreas Gerry Tuwo\",\"canonical\":\"https://kumparan.com/@kumparannews/menlu-minta-negara-mikta-tak-pindahkan-kedutaan-ke-yerusalem\",\"amphtml\":\"https://m.kumparan.com/@kumparannews/menlu-minta-negara-mikta-tak-pindahkan-kedutaan-ke-yerusalem.amp\",\"keywords\":\"News,Internasional,MIKTA,Kedubes AS Dipindahkan\",\"media\":\"reader\",\"theme-color\":\"#00a5af\",\"description\":\"Menlu Retno meminta langkah AS memindahkan kedutaan ke Yerusalem tak diikuti negara anggota MIKTA.\",\"title\":\"Menlu Minta Negara MIKTA Tak Pindahkan Kedutaan ke Yerusalem\",\"site\":\"kumparan\"},\"links\":{\"thumbnail\":[{\"content_length\":29255,\"media\":{\"height\":315,\"width\":600},\"rel\":[\"thumbnail\",\"og\",\"ssl\",\"twitter\"],\"type\":\"image/jpeg\",\"href\":\"https://alibaba.kumpar.com/kumpar/image/upload/w_600,h_315,c_fill,ar_40:21,f_jpg,q_auto/l_auy4e3oe2hru5hfaphbw,g_south,w_600/xikj1kryxeje1itmsrpd.jpg\"}],\"icon\":[{\"type\":\"image/icon\",\"rel\":[\"shortcut\",\"icon\",\"ssl\"],\"href\":\"https://kumparan.com/favicon.ico\"}]},\"rel\":[\"summary\",\"ssl\",\"html5\",\"inline\"],\"html\":\"<div><div style=\\\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 52.5%;\\\"><iframe src=\\\"//cdn.iframe.ly/Y2hXOfS?media=0&amp;app=1\\\" style=\\\"border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;\\\" allowfullscreen></iframe></div></div>\"},{\"id\":1,\"url\":\"https://kumparan.com/@kumparannews/temui-wamenlu-as-menlu-singgung-palestina?ref=body\",\"meta\":{\"date\":\"2018-05-21T08:50:00.362Z\",\"author\":\"Andreas Gerry Tuwo\",\"canonical\":\"https://kumparan.com/@kumparannews/temui-wamenlu-as-menlu-singgung-palestina\",\"amphtml\":\"https://m.kumparan.com/@kumparannews/temui-wamenlu-as-menlu-singgung-palestina.amp\",\"keywords\":\"News,Internasional,Kedubes AS Dipindahkan,Menlu Retno L Marsudi\",\"media\":\"reader\",\"theme-color\":\"#00a5af\",\"description\":\"Saat bertemu Wamenlu AS, Menlu Retno Marsudi menyinggung perpindahan kedutaan AS ke Yerusalem pada pertengahan Mei lalu.\",\"title\":\"Temui Wamenlu AS, Menlu Singgung Palestina\",\"site\":\"kumparan\"},\"links\":{\"thumbnail\":[{\"content_length\":36191,\"media\":{\"height\":315,\"width\":600},\"rel\":[\"thumbnail\",\"og\",\"ssl\",\"twitter\"],\"type\":\"image/jpeg\",\"href\":\"https://alibaba.kumpar.com/kumpar/image/upload/w_600,h_315,c_fill,ar_40:21,f_jpg,q_auto/l_auy4e3oe2hru5hfaphbw,g_south,w_600/bpk57sbyrzxhjsx4agcv.jpg\"}],\"icon\":[{\"type\":\"image/icon\",\"rel\":[\"shortcut\",\"icon\",\"ssl\"],\"href\":\"https://kumparan.com/favicon.ico\"}]},\"rel\":[\"summary\",\"ssl\",\"html5\",\"inline\"],\"html\":\"<div><div style=\\\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 52.5%;\\\"><iframe src=\\\"//cdn.iframe.ly/WObhojE?media=0&amp;app=1\\\" style=\\\"border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;\\\" allowfullscreen></iframe></div></div>\"},{\"id\":2,\"url\":\"https://kumparan.com/@kumparannews/jk-israel-negara-keras-dan-tak-peduli-resolusi-pbb?ref=body\",\"meta\":{\"date\":\"2018-05-15T11:42:08.472Z\",\"author\":\"Andreas Gerry Tuwo\",\"canonical\":\"https://kumparan.com/@kumparannews/jk-israel-negara-keras-dan-tak-peduli-resolusi-pbb\",\"amphtml\":\"https://m.kumparan.com/@kumparannews/jk-israel-negara-keras-dan-tak-peduli-resolusi-pbb.amp\",\"keywords\":\"News,Internasional,Kedubes AS Dipindahkan,Jusuf Kalla\",\"media\":\"reader\",\"theme-color\":\"#00a5af\",\"description\":\"JK mengkritik Israel setelah AS memindahkan Kedutaannya ke Yerusalem.\",\"title\":\"JK: Israel Negara Keras dan Tak Peduli Resolusi PBB\",\"site\":\"kumparan\"},\"links\":{\"thumbnail\":[{\"content_length\":19865,\"media\":{\"height\":315,\"width\":600},\"rel\":[\"thumbnail\",\"og\",\"ssl\",\"twitter\"],\"type\":\"image/jpeg\",\"href\":\"https://alibaba.kumpar.com/kumpar/image/upload/w_600,h_315,c_fill,ar_40:21,f_jpg,q_auto/l_auy4e3oe2hru5hfaphbw,g_south,w_600/xp6rfv3gsszibkcdh3td.jpg\"}],\"icon\":[{\"type\":\"image/icon\",\"rel\":[\"shortcut\",\"icon\",\"ssl\"],\"href\":\"https://kumparan.com/favicon.ico\"}]},\"rel\":[\"summary\",\"ssl\",\"html5\",\"inline\"],\"html\":\"<div><div style=\\\"left: 0; width: 100%; height: 0; position: relative; padding-bottom: 52.5%;\\\"><iframe src=\\\"//cdn.iframe.ly/gCF8ihS?media=0&amp;app=1\\\" style=\\\"border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;\\\" allowfullscreen></iframe></div></div>\"}]},\"type\":\"list\"}}},\"6\":{\"type\":\"image\",\"mutability\":\"IMMUTABLE\",\"data\":{\"image\":{\"_key\":\"27431110790451119\",\"bytes\":111949,\"date\":{\"create\":\"2018-05-18T01:45:44.379Z\",\"event\":\"2018-05-17T17:00:00.000Z\"},\"description\":\"Menlu Retno di DK PBB\",\"dimensions\":{\"height\":576,\"width\":1024},\"location\":{\"lat\":-6.2293867,\"lng\":106.6894284,\"name\":\"DKI Jakarta\"},\"mimetype\":\"image/jpg\",\"permission\":0,\"photographer\":\"Dok. Kemlu\",\"public_id\":\"mnaeqxclk7oc5o3z72z5\",\"source\":\"Others\",\"status\":\"publish\",\"tagging\":[],\"title\":\"Menlu Retno di DK PBB\",\"topics\":[],\"type\":\"image\",\"updatedContent\":[],\"uploader\":{\"id\":\"27431110790331664\",\"name\":\"Irfan Adi Saputra\"},\"url\":\"https://gimg.kumpar.com/kumpar/image/upload/v1526607818/mnaeqxclk7oc5o3z72z5.jpg\",\"user\":{\"create\":\"27431110790331664\",\"deleted\":null,\"update\":null}},\"alignment\":\"justify\"}}},\"blocks\":[{\"key\":\"b5rau\",\"text\":\" \",\"type\":\"atomic\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[{\"offset\":0,\"length\":1,\"key\":0}],\"data\":{}},{\"key\":\"14r1o\",\"text\":\"Menteri Luar Negeri Retno Marsudi memaparkan proses lobi panjang diplomasi Indonesia terkait penentangan terhadap pemindahan Kedutaan Besar Amerika Seriakt di Israel ke kota Yerusalem.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[{\"offset\":20,\"length\":13,\"key\":1},{\"offset\":114,\"length\":25,\"key\":2},{\"offset\":159,\"length\":6,\"key\":3}],\"data\":{}},{\"key\":\"2j2fs\",\"text\":\"Langkah pertama yang dilakukan Retno ketika mendengar Presiden Donald Trump berencana memindahkan Kedubes AS dari Tel Aviv ke Yerusalem adalah menelepon Menlu AS kala itu, Rex Tillerson. Tujuannya, agar AS mengurungkan niat memindahkan Kedubes AS ke Yerusalem yang merupakan pelanggaran kesepakatan internasional.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"9t8b3\",\"text\":\"\\\"Saya masih ingat sekali pembicaraan saya dengan mantan Menlu AS Rex Tillerson tiga jam menjelang pengumuman pemindahan kedutaan AS ke Yerusalem pada bulan Desember. Rex mengatakan bahwa pelaksanaan pemindahan itu sendiri masih akan memakan waktu yang lama,\\\" kata Retno saat rapat kerja dengan Komisi I DPR di Gedung DPR RI, Senayan, Jakarta, Kamis (31/5).\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"3m8vg\",\"text\":\"\\\"Namun demikian pelaksanaan pemindahan dilakukan lebih cepat dari apa yang disampaikan oleh Menlu Tillerson, pada 14 mei 2018 bertepatan dengan 70 tahun berdirinya negara Israel dan bertepatan dengan hari pengusiran bangsa Palestina,\\\" lanjut Retno.\\n\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"am0v7\",\"text\":\" \",\"type\":\"atomic\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[{\"offset\":0,\"length\":1,\"key\":4}],\"data\":{}},{\"key\":\"f2fsu\",\"text\":\"Dengan pemindahan tersebut, AS berarti mengakui Yerusalem sebagai ibu kota Israel, bertentangan dengan konsensus internasional. Menurut Retno, Indonesia berpandangan langkah AS tersebut telah mengancam proses perdamaian.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"6dlc7\",\"text\":\"\\\"Langkah AS ini melanggar berbagai resolusi Dewan Keamanan dan Majelis Umum PBB serta mengancam proses perdamaian dan bahkan perdamaian itu sendiri,\\\" ujar Retno.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"516ho\",\"text\":\" \",\"type\":\"atomic\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[{\"offset\":0,\"length\":1,\"key\":5}],\"data\":{}},{\"key\":\"7ha8c\",\"text\":\"Indonesia lantas mendesak Dewan Keamanan dan Majelis Umum PBB segera bersidang untuk mengambil sikap dan langkah yang tegas, serta mendorong negara-negara lainnya untuk tidak mengikuti langkah AS. Lobi ini menghasilkan dilakukannya voting pada Februari lalu yang menghasilkan kecaman atas keputusan AS tersebut.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"9h5nr\",\"text\":\"Retno menambahkan, lobi Indonesia juga dilakukan di Organisasi Kerjasama Islam (OKI) pada pertemuan menlu di Bangladesh pada Mei lalu. Indonesia menginisiasi stand alone statement mengenai sikap OKI terhadap pemindahan kedubes AS ke Yerusalem itu.\\n\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[{\"offset\":158,\"length\":21,\"style\":\"ITALIC\"}],\"entityRanges\":[],\"data\":{}},{\"key\":\"3htce\",\"text\":\" \",\"type\":\"atomic\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[{\"offset\":0,\"length\":1,\"key\":6}],\"data\":{}},{\"key\":\"1h8kd\",\"text\":\"\\\"Beberapa inti statement OKI pada 14 Mei 2018, pertama menolak dan mengutuk keras keputusan AS karena dinilai sebagai serangan terhadap hak-hak bersejarah dan hak-hak hukum Palestina. Kedua, tindakan tersebut pelanggaran berbagai resolusi Dewan Keamanan PBB terkait status Al Quds Al Syarif. Ketiga, status Al Quds Al Syarif harus diputuskan melalui negosiasi sesuai dengan resolusi PBB,\\\" kata Retno.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[{\"offset\":15,\"length\":10,\"style\":\"ITALIC\"},{\"offset\":47,\"length\":8,\"style\":\"ITALIC\"},{\"offset\":183,\"length\":7,\"style\":\"ITALIC\"},{\"offset\":292,\"length\":7,\"style\":\"ITALIC\"}],\"entityRanges\":[],\"data\":{}},{\"key\":\"5n2vq\",\"text\":\"Retno mengungkapkan lobi Indonesia juga masif terkait korban sipil yang berjatuhan di Jalur Gaza. Indonesia melalui Kementerian Luar Negeri menjalin komunikasi dengan Menlu Turki agar sikap Indonesia disampaikan pada KTT Luar Biasa OKI.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"72tcj\",\"text\":\"\\\"Komunikasi dengan Menlu Turki agar pemimpin OKI melakukan pertemuan luar biasa OKI khusus untuk membahas isu ini. KTT luar biasa OKI telah terselenggara di Istanbul pada 18 Mei 2018, pernyataan Indonesia disampaikan oleh Wapres Jusuf Kalla,\\\" jelas Retno.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"57i07\",\"text\":\"Tidak hanya dalam tataran lobi diplomatik, pemerintah Indonesia juga bertindak konkret untuk membantu mengatasi masalah kemanusiaan di Palestina, terutama di Gaza.  \",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}},{\"key\":\"bbmr9\",\"text\":\"\\\"Pemerintah saat ini juga sedang meningkatkan bantuan untuk pengungsi Palestina. Sekali lagi intinya bahwa Indonesia akan terus bersama perjuangan bangsa Palestina,\\\" tutur Retno.\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}}]}",
                        "type": "draftjs"
                    },
                    "editor": null,
                    "internal": true,
                    "is": {
                        "adultContent": false
                    },
                    "labels": {
                        "topics": [
                            {
                                "_key": "22553543",
                                "_id": "v1_topic/22553543",
                                "name": "News",
                                "slug": "news",
                                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1502261831/bzupvdqsbrpyrybnrrek.jpg",
                                "special": false,
                                "flag": {
                                    "isFollowed": false,
                                    "isViewEnable": true
                                }
                            },
                            {
                                "_key": "27428266",
                                "_id": "v1_topic/27428266",
                                "name": "Internasional",
                                "slug": "internasional",
                                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1510455360/k6s6ks8zfomtbkc7efxv.jpg",
                                "special": false,
                                "flag": {
                                    "isFollowed": false,
                                    "isViewEnable": true
                                }
                            },
                            {
                                "_key": "27431110790314703",
                                "_id": "v1_topic/27431110790314703",
                                "name": "Retno Marsudi",
                                "slug": "retno-marsudi",
                                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1522910062/pmkgyh4tdcosoqdwm3oz.jpg",
                                "special": true,
                                "flag": {
                                    "isFollowed": false,
                                    "isViewEnable": false
                                }
                            },
                            {
                                "_key": "1032342202",
                                "_id": "v1_topic/1032342202",
                                "name": "Yerusalem",
                                "slug": "yerusalem",
                                "url": "https://alibaba.kumpar.com/kumpar/image/upload/h_220,w_361/v1489981039/p5uxcbjpfzleddae5ezp.jpg",
                                "special": false,
                                "flag": {
                                    "isFollowed": false,
                                    "isViewEnable": false
                                }
                            },
                            {
                                "_key": "27431110790312027",
                                "_id": "v1_topic/27431110790312027",
                                "name": "Kedubes AS Dipindahkan",
                                "slug": "kedubes-as-dipindahkan",
                                "url": "https://gimg.kumpar.com/kumpar/image/upload/h_220,w_361/v1510042834/jpjzh2vy6mwf46vxeqsh.jpg",
                                "special": true,
                                "flag": {
                                    "isFollowed": false,
                                    "isViewEnable": false
                                }
                            }
                        ]
                    },
                    "lead_media": {
                        "cloudinary_ids": [
                            "ql29xupf1iuzvib1slzq"
                        ],
                        "type": "image",
                        "urls": [
                            "https://gimg.kumpar.com/kumpar/image/upload/v1517388528/ql29xupf1iuzvib1slzq.jpg"
                        ]
                    },
                    "lead_text": {
                        "content": "Indonesia melakukan lobi maraton usai Amerika Serikat menyatakan akan memindahkan Kedutaan Besar ke Yerusalem.",
                        "type": "raw"
                    },
                    "location": {
                        "lat": -6.2013412,
                        "lng": 106.8005263,
                        "name": "DPR RI, Jalan Gatot Subroto, RT.10/RW.6, Slipi, Central Jakarta City, Jakarta, Indonesia"
                    },
                    "meta": {
                        "description": "Indonesia melakukan lobi maraton usai AS menyatakan akan memindahkan Kedubes ke Yerusalem.",
                        "keywords": "palestina, israel, kedubes AS yerusalem, retno marsudi"
                    },
                    "position": {
                        "headline": 0,
                        "sticked": 0
                    },
                    "reporter": {
                        "id": "1166100497",
                        "name": "Rafyq Panjaitan",
                        "username": "rafyq-alkandy-ahmad-panjaitan",
                        "profilePicture": "https://alibaba.kumpar.com/kumpar/image/upload/v1524385032/1524385030587_sou19vs_n8i8cb.jpg",
                        "flag": {
                            "isVerified": false,
                            "isFollowed": false
                        }
                    },
                    "reporters": [
                        "1166100497"
                    ],
                    "slug": "menlu-retno-paparkan-lobi-panjang-diplomasi-ri-demi-yerusalem",
                    "sponsored": "",
                    "stats": {
                        "comments": 1,
                        "reaction": {
                            "like": 5
                        },
                        "share": 0,
                        "view": 0
                    },
                    "status": "publish",
                    "title": "Menlu Retno Paparkan Lobi Panjang Diplomasi RI demi Yerusalem ",
                    "tracker": {
                        "impression": "",
                        "script": ""
                    },
                    "type": "text",
                    "user": {
                        "create": "36644670",
                        "update": "28806376"
                    },
                    "userFlag": {
                        "liked": false,
                        "commented": false
                    }
                }
            ],
            "topic": {
                "_key": "17205657987614537",
                "name": "Retno Marsudi",
                "slug": "retno-marsudi",
                "title": "Retno Marsudi",
                "description": "In Frame Retno Marsudi: Dansa dan Diplomasi",
                "media": {
                    "cloudinary": {
                        "id": "qnwsfk0yh5ct986hfyes",
                        "url": "https://alibaba.kumpar.com/kumpar/image/upload/c_fill,w_361,h_220/qnwsfk0yh5ct986hfyes"
                    },
                    "type": "image"
                }
            }
        }
        
# Group Response

## Response Collection [/responses{?slug,all,card,page,limit,lastdate,offsetReply,limitReply,sort,top,publisher,search,topcomment,feed,ids,storyid}]

### List [GET]

+ Parameter
    + slug - string
    + all - integer
    + card - integer
    + page - integer
    + limit - integer
    + lastdate - string
    + offsetReply - integer
    + limitReply - integer
    + sort - string
    + top - string
    + publisher - string
    + search - string
    + topcomment - integer
    + feed - string
    + ids - string
    + storyid - string

+ Request

    + Header
        
            Authorization: Bearer ABC123

+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 174245,
            "results": [
                {
                    "_id": "v1_responses/1262668450",
                    "_rev": "_WaBBIUO---",
                    "_key": "1262668450",
                    "author": {
                        "group": "",
                        "id": "1044366589",
                        "name": "Ganesha Dwi Adhy Nugraha",
                        "username": "ganesha-dwi-adhy-nugraha",
                        "profilePicture": "https://res.cloudinary.com/kumpar/image/gplus/w_300,h_300,c_fill,g_face/105550421166083727114.jpg",
                        "_key": "1044366589",
                        "flag": {
                            "isVerified": false,
                            "isFollowed": false,
                            "isFollowedPublisher": false
                        },
                        "userFlag": null,
                        "publisher": null,
                        "level": 1
                    },
                    "content": "apa sich ",
                    "datatype": "response",
                    "date": {
                        "create": "2018-02-23T03:44:31.076Z",
                        "publish": "2018-02-23T03:44:31.076Z",
                        "update": "2018-02-23T08:08:02.546Z"
                    },
                    "flag": {
                        "isTopComment": true
                    },
                    "labels": {
                        "tags": [
                            "editorspick"
                        ]
                    },
                    "media": null,
                    "position": {
                        "headline": 0,
                        "sticked": 0
                    },
                    "reply": null,
                    "replyto": null,
                    "slug": "comment-for-story-1164852106",
                    "stats": {
                        "comment": 0,
                        "reaction": {
                            "like": 0
                        },
                        "share": 0,
                        "view": 0
                    },
                    "status": "publish",
                    "storyid": "1164852106",
                    "title": "Comment for story #1164852106",
                    "type": "text",
                    "user": {
                        "create": "1044366589",
                        "update": "1164818781"
                    },
                    "userFlag": {
                        "isLikedResponse": false,
                        "isCommentedResponse": false,
                        "liked": false,
                        "commented": false
                    },
                    "story": {
                        "_id": "v1_stories/1164852106",
                        "_key": "1164852106",
                        "_rev": "_WaBBIUS---",
                        "author": {
                            "author": null,
                            "publisher": null,
                            "group": "kumparan-bisnis"
                        },
                        "datatype": "story",
                        "date": {
                            "create": "2017-10-31T10:27:25.189Z",
                            "headline": "",
                            "publish": "2017-10-31T10:27:25.190Z",
                            "update": "2017-11-30T11:19:49.276Z",
                            "schedule": null
                        },
                        "detail": {
                            "draftjs_object": "{\"entityMap\":{},\"blocks\":[{\"key\":\"9hg7q\",\"text\":\"Test lah\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}}]}",
                            "type": "draftjs"
                        },
                        "editor": null,
                        "editors": null,
                        "internal": true,
                        "is": {
                            "adultContent": false
                        },
                        "labels": {
                            "topics": [
                                {
                                    "_key": "1034807416",
                                    "author": null,
                                    "date": null,
                                    "description": "",
                                    "flag": null,
                                    "name": "User Story",
                                    "slug": "",
                                    "status": "",
                                    "type": "",
                                    "url": "",
                                    "user": null,
                                    "statistic": null,
                                    "position": false,
                                    "_id": "v1_topic/1034807416",
                                    "_rev": ""
                                }
                            ]
                        },
                        "lead_media": null,
                        "lead_text": {
                            "content": "Test lah",
                            "type": "raw"
                        },
                        "location": {
                            "lat": -6.17511,
                            "lng": 106.86503949999997,
                            "name": "Jakarta, Indonesia"
                        },
                        "position": {
                            "headline": 0,
                            "sticked": 0
                        },
                        "reporter": null,
                        "slug": "test-beb",
                        "sponsored": {
                            "content": {
                                "body": "https://gimg.kumpar.com/kumpar/image/upload/v1510281845/fgzkxurnuctep0gfirqy.jpg",
                                "type": "image"
                            },
                            "url": "http://hohoupdate.com"
                        },
                        "stats": {
                            "comments": 7,
                            "share": 0,
                            "view": 0,
                            "reaction": {
                                "like": 1
                            }
                        },
                        "status": "publish",
                        "title": "Test beb",
                        "tracker": null,
                        "type": "text",
                        "user": {
                            "create": "1042012239",
                            "update": "1039493653"
                        },
                        "userFlag": {
                            "liked": false,
                            "commented": false,
                            "mood": false,
                            "sharedTimeline": false,
                            "voted": false
                        },
                        "reporters": null,
                        "polling": null
                    },
                    "mentions": null
                },
            ],
            "story": null
        }

### Create [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
    
            {
                "storyid": "1164845455",
                "comment": "komentarku juga",
                "type": "comment
            }

+ Response 201 (application/json)

        {
            "_id": "v1_responses/1528780448916191673",
            "_rev": "_W9HogwW---",
            "_key": "1528780448916191673",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Doni Rubiagatra",
                "username": "mumung-moh-iqbal",
                "profilePicture": "https://res.cloudinary.com/kumpar/image/gplus/w_300,h_300,c_fill,g_face/112157997050431462129.jpg",
                "_key": "",
                "flag": {
                    "isVerified": false,
                    "isFollowed": false,
                    "isFollowedPublisher": false
                },
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga",
            "datatype": "",
            "date": null,
            "flag": null,
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": null,
            "status": "publish",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "comment",
            "user": {
                "create": "1044025931",
                "update": ""
            },
            "userFlag": {
                "isLikedResponse": false,
                "isCommentedResponse": false,
                "liked": false,
                "commented": false
            },
            "story": null,
            "mentions": null
        }
        
## Response Object [/responses/{key}]
        
### Show [GET]

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "_id": "v1_responses/1528780448916191673",
            "_rev": "_W9HogwW---",
            "_key": "1528780448916191673",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Mumung Moh Iqbal",
                "username": "mumung-moh-iqbal",
                "profilePicture": "https://res.cloudinary.com/kumpar/image/facebook/w_300,h_300,c_fill,g_face/1203858363045011.jpg",
                "_key": "1044025931",
                "flag": {
                    "isVerified": false,
                    "isFollowed": false,
                    "isFollowedPublisher": false
                },
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga",
            "datatype": "",
            "date": null,
            "flag": null,
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": {
                "comment": 0,
                "reaction": null,
                "share": 0,
                "view": 0
            },
            "status": "publish",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "comment",
            "user": {
                "create": "1044025931",
                "update": ""
            },
            "userFlag": {
                "isLikedResponse": false,
                "isCommentedResponse": false,
                "liked": false,
                "commented": false
            },
            "story": null,
            "mentions": null
        }
        
### Delete [DELETE]

+ Request

    + Header
        
            Authorization: Bearer ABC123

+ Response 200 (application/json)

        {
            "_id": "v1_responses/1528784450114492127",
            "_rev": "_W9Il73C---",
            "_key": "1528784450114492127",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Doni Rubiagatra",
                "username": "mumung-moh-iqbal",
                "profilePicture": "",
                "_key": "",
                "flag": null,
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga lagi",
            "datatype": "",
            "date": {
                "create": "",
                "publish": "",
                "update": "2018-06-12T06:21:21Z"
            },
            "flag": null,
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": null,
            "status": "deleted",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "text",
            "user": {
                "create": "1044025931",
                "update": "1044025931"
            },
            "userFlag": null,
            "story": null,
            "mentions": null
        }

### Patch [PATCH]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
    
            {
                "content": "komentarku juga lagi",
                "type": "text
            }
        
+ Response 200 (application/json)

        {
            "_id": "v1_responses/1528784450114492127",
            "_rev": "_W9Il73C---",
            "_key": "1528784450114492127",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Doni Rubiagatra",
                "username": "mumung-moh-iqbal",
                "profilePicture": "",
                "_key": "",
                "flag": null,
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga lagi",
            "datatype": "",
            "date": {
                "create": "",
                "publish": "",
                "update": "2018-06-12T06:21:21Z"
            },
            "flag": null,
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": null,
            "status": "publish",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "text",
            "user": {
                "create": "1044025931",
                "update": "1044025931"
            },
            "userFlag": null,
            "story": null,
            "mentions": null
        }
        
        
## Response Liked [/responses/{key}/liked]

### Show [GET]

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "_id": "v1_responses/1528780448916191673",
            "_rev": "_W9HogwW---",
            "_key": "1528780448916191673",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Mumung Moh Iqbal",
                "username": "mumung-moh-iqbal",
                "profilePicture": "https://res.cloudinary.com/kumpar/image/facebook/w_300,h_300,c_fill,g_face/1203858363045011.jpg",
                "_key": "1044025931",
                "flag": {
                    "isVerified": false,
                    "isFollowed": false,
                    "isFollowedPublisher": false
                },
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga",
            "datatype": "",
            "date": null,
            "flag": null,
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": {
                "comment": 0,
                "reaction": null,
                "share": 0,
                "view": 0
            },
            "status": "publish",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "comment",
            "user": {
                "create": "1044025931",
                "update": ""
            },
            "userFlag": {
                "isLikedResponse": false,
                "isCommentedResponse": false,
                "liked": false,
                "commented": false
            },
            "story": null,
            "mentions": null
        }

## Response TopComment [/responses/topcomment]

### Create [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
    
            {
                "key": "1529386062842742904",
            }

+ Response 201 (application/json)

        {
             "_id": "v1_responses/1529386062842742904",
            "_rev": "_X_YCpue---",
            "_key": "1529386062842742904",
            "author": {
                "group": "",
                "id": "1044025931",
                "name": "Doni Rubiagatra",
                "username": "mumung-moh-iqbal",
                "profilePicture": "",
                "_key": "",
                "flag": null,
                "userFlag": null,
                "publisher": null,
                "level": 0
            },
            "content": "komentarku juga",
            "datatype": "",
            "date": null,
            "flag": {
                "isTopComment": true
            },
            "labels": null,
            "media": null,
            "position": null,
            "reply": null,
            "replyto": null,
            "slug": "",
            "stats": null,
            "status": "publish",
            "storyid": "1164845455",
            "title": "Comment for #1164845455",
            "type": "comment",
            "user": {
                "create": "1044025931",
                "update": ""
            },
            "userFlag": null,
            "story": null,
            "mentions": null
        }
        

# Group Publisher

## Publishers Collection [/publishers{?page,limit}]

### List [GET]

+ Parameter
    + limit - integer
    + page - integer
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
            
            
+ Response 200 (application/json)
        
        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 14,
            "results": [
                {
                    "_key": "kumparan-bisnis",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/rc7bmfkzmlnyaseicna5.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:44.827Z"
                    },
                    "description": "Informasi dan analisis ekonomi-bisnis, dari korporasi hingga end user",
                    "isVerified": true,
                    "name": "kumparanBISNIS",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbisnis",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-sepak-bola",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588408/xquktsg8pqwh3ecpdbci.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:04.923Z"
                    },
                    "description": "Informasi sepakbola lebih dalam, tidak hanya permukaan",
                    "isVerified": true,
                    "name": "kumparanBOLA",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbola",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-sports",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588407/hgppfx0g52s22zxiessc.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/sux3dbcyh2owvizb4ue7.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:35:39.986Z"
                    },
                    "description": "Informasi dan ulasan menarik semua jenis olahraga",
                    "isVerified": true,
                    "name": "kumparanSPORT",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/sux3dbcyh2owvizb4ue7.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparansport",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                }
            ],
            "follow": []
        }

### Create [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
        
            {
             "slug": "test",
             "photo": "http://tempatfoto.com.123.jpg",
             "cover": "http://tempatfoto.com.123.jpg",
             "avatar": "http://tempatfoto.com.123.jpg",
             "name": "test",
             "photo": "test",
             "cover": "test",
             "avatar": "test",
             "description": "test",
             "website": "test",
             "categories": "test",
             "status": "test",
             "rssUrl": "test"
            }
            
+ Response 200 (application/json)

        {
            "slug": "test",
            "name": "test",
            "description": "test",
            "website": "test",
            "categories": "test",
            "status": "active",
            "date": {
                "create": "2018-06-19T17:53:07.921Z",
                "update": null
            },
            "isVerified": false,
            "user": {
                "create": {
                    "uid": "27431110790355723",
                    "name": "Bambang Deny Prayitno",
                    "username": "bambang-deny-prayitno"
                }
            },
            "_key": "1425987887"
        }
        

## Publisher Object [/publishers/{key}{?useslug}]

### Show [GET]

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "_key": "kumparan-bisnis",
            "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/rc7bmfkzmlnyaseicna5.png",
            "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
            "date": {
                "create": "2017-11-02T13:03:42.591Z",
                "update": "2017-12-06T20:30:44.827Z"
            },
            "description": "Informasi dan analisis ekonomi-bisnis, dari korporasi hingga end user",
            "name": "kumparanBISNIS",
            "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
            "rssUrl": "http://rss.com",
            "slug": "kumparanbisnis",
            "status": "active",
            "user": {
                "create": {
                    "name": "Muhammad Hasan Septiadi",
                    "uid": "1163222443",
                    "username": "muhammad-hasan-septiadi"
                },
                "update": {
                    "name": "Taufik Fitriyanto",
                    "uid": "92883755",
                    "username": "taufikfi"
                }
            },
            "website": "websitec.com",
            "statistic": {
                "follower": 8045,
                "stories": 11444
            },
            "flag": {
                "isActive": "active",
                "isVerified": true,
                "isFollowed": false
            }
        }
        
### Patch [PATCH]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123
            
    + Body 
    
            {
             "slug": "test123",
             "photo": "http://tempatfoto.com.123.jpg",
             "cover": "http://tempatfoto.com.123.jpg",
             "avatar": "http://tempatfoto.com.123.jpg",
             "rssurl": "http://tempatfoto.com.123.jpg",
             "name": "test",
             "description": "test11",
             "website": "test",
             "categories": "test",
             "status": "active",
             "date": {
                "update": 2018-10-10"
             },
             "isverified": true
            }
    
+ Response 200 (application/json)

        {
            "_key": "1425988746",
            "slug": "test123",
            "name": "test",
            "description": "test11",
            "website": "test",
            "categories": "test",
            "status": "active",
            "date": {
                "create": "2018-06-19T17:57:23.743Z",
                "update": "2018-06-19T17:57:46.975Z"
            },
            "isVerified": false,
            "user": {
                "create": {
                    "uid": "27431110790355723",
                    "name": "Bambang Deny Prayitno",
                    "username": "bambang-deny-prayitno"
                },
                "update": {
                    "name": "Bambang Deny Prayitno",
                    "uid": "27431110790355723",
                    "username": "bambang-deny-prayitno"
                }
            }
        }
        
### Delete [DELETE]

+ Request

    + Header
        
            Authorization: Bearer ABC123

+ Response 200 (application/json)

        {
            "slug": "test",
            "name": "test",
            "description": "test",
            "website": "test",
            "categories": "test",
            "status": "deleted",
            "date": {
                "create": "2018-06-19T17:53:07.921Z",
                "update": null
            },
            "isVerified": false,
            "user": {
                "create": {
                    "uid": "27431110790355723",
                    "name": "Bambang Deny Prayitno",
                    "username": "bambang-deny-prayitno"
                }
            },
            "_key": "1425987887"
        }
        
## Publisher FollowRequest [/publishers/{?page,limit,status}]

### List [GET]

+ Parameter
    + page - integer
    + limit - integer
    + status - boolean

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 14,
            "results": [
                {
                    "_key": "kumparan-bisnis",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/rc7bmfkzmlnyaseicna5.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:44.827Z"
                    },
                    "description": "Informasi dan analisis ekonomi-bisnis, dari korporasi hingga end user",
                    "isVerified": true,
                    "name": "kumparanBISNIS",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbisnis",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-sepak-bola",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588408/xquktsg8pqwh3ecpdbci.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:04.923Z"
                    },
                    "description": "Informasi sepakbola lebih dalam, tidak hanya permukaan",
                    "isVerified": true,
                    "name": "kumparanBOLA",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbola",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-kuliner",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/msihaqlwlygfpgrpuugt.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589036/n9o0htzwzkikcaajq5og.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:29:34.769Z"
                    },
                    "description": "Review makanan, masakan, dan tempat makan",
                    "isVerified": true,
                    "name": "kumparanFOOD",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589036/n9o0htzwzkikcaajq5og.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanfood",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                }
            ],
            "follow": []
        }
        
## Publisher Search [/publishers/search/{key}{?page,limit,status}]

### List [GET]

+ Parameter
    + page - integer
    + limit - integer
    + status - boolean

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "code": 200,
            "page": 1,
            "limit": 10,
            "total": 14,
            "results": [
                {
                    "_key": "kumparan-bisnis",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/rc7bmfkzmlnyaseicna5.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:44.827Z"
                    },
                    "description": "Informasi dan analisis ekonomi-bisnis, dari korporasi hingga end user",
                    "isVerified": true,
                    "name": "kumparanBISNIS",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589032/zluufynrciwortymbuih.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbisnis",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-sepak-bola",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588408/xquktsg8pqwh3ecpdbci.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:30:04.923Z"
                    },
                    "description": "Informasi sepakbola lebih dalam, tidak hanya permukaan",
                    "isVerified": true,
                    "name": "kumparanBOLA",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589033/ntwx6zmwacwyd4de6vb1.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanbola",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                },
                {
                    "_key": "kumparan-kuliner",
                    "avatar": "https://gimg.kumpar.com/kumpar/image/upload/v1512588409/msihaqlwlygfpgrpuugt.png",
                    "cover": "https://gimg.kumpar.com/kumpar/image/upload/v1512589036/n9o0htzwzkikcaajq5og.jpg",
                    "date": {
                        "create": "2017-11-02T13:03:42.591Z",
                        "update": "2017-12-06T20:29:34.769Z"
                    },
                    "description": "Review makanan, masakan, dan tempat makan",
                    "isVerified": true,
                    "name": "kumparanFOOD",
                    "photo": "https://gimg.kumpar.com/kumpar/image/upload/v1512589036/n9o0htzwzkikcaajq5og.jpg",
                    "rssUrl": "http://rss.com",
                    "slug": "kumparanfood",
                    "status": "active",
                    "user": {
                        "create": {
                            "name": "Muhammad Hasan Septiadi",
                            "uid": "1163222443",
                            "username": "muhammad-hasan-septiadi"
                        },
                        "update": {
                            "name": "Taufik Fitriyanto",
                            "uid": "92883755",
                            "username": "taufikfi"
                        }
                    },
                    "website": "websitec.com"
                }
            ],
            "follow": []
        }


# Group Newsfeed

## Newsfeed Collection [/newsfeed/:key{?page,limit,withheadline,date,dateType,dataType,author,topic}]

### Publisher [GET]

+ Parameter
    + limit - integer
    + page - integer
    + withheadline - integer
    + date - string
    + dateType - string
    + dataType - string
    + author - string
    + topic - string
    
+ Request

    + Header
        
            Authorization: Bearer ABC123
            
            
+ Response 200 (application/json)
        
        {
            "total": 10,
            "page": 1,
            "limit": 10,
            "results": [
                {
                    "_id": "v1_stories/27431110790514834",
                    "_key": "27431110790514834",
                    "_rev": "_X_dwInO--_",
                    "author": {
                        "_key": "27431110790370071",
                        "id": "27431110790370071",
                        "name": "Tandaseru",
                        "username": "tandaseru-tv",
                        "profilePicture": "https://alibaba.kumpar.com/kumpar/image/upload/w_300,h_300,c_scale,c_thumb/lzhkgfrze6wtsnd1ze9y.jpg",
                        "flag": {
                            "isVerified": false,
                            "isFollowed": false,
                            "isFollowedPublisher": false
                        },
                        "userFlags": null,
                        "publisher": null,
                        "level": 19,
                        "group": null
                    },
                    "datatype": "story",
                    "date": {
                        "publish": "2018-06-06T23:00:13.000Z",
                        "create": "2018-06-06T23:12:31.531Z",
                        "update": null,
                        "headline": null
                    },
                    "date_sort": "2018-06-12T05:23:36.333Z",
                    "detail": {
                        "type": "draftjs",
                        "draftjs_object": "{}",
                    },
                    "id_sql": "1528326013",
                    "internal": false,
                    "is": {},
                    "labels": {
                        "topics": []
                    },
                    "lead_media": {
                        "type": "image",
                        "urls": [
                            "https://alibaba.kumpar.com/kumpar/image/upload/v1528326222/uvwtilpme79bpmszhafs.jpg"
                        ],
                        "cloudinary_ids": [
                            "uvwtilpme79bpmszhafs"
                        ]
                    },
                    "lead_text": {
                        "type": "raw",
                        "content": "“Ini kan BLU (Badan Layanan Umum), nggak cari untung. Uangnya dari APBN, tapi yang penting jangan habis, tapi bisa bergulir di nelayan, bisa dipakai untuk kegiatan-kegiatan nelayan,” kata Presiden saat memberikan sambutan pada peresmian lembaga keuangan mikro nelayan, di Pantai Wisata Karangsong, Kab. Indramayu, Jawa Barat, Rabu (6/6) sore."
                    },
                    "position": {
                        "headline": 0,
                        "sticked": 0
                    },
                    "slug": "presiden-minta-ojk-pelajari-bunga-3-persen-untuk-modal-ke-nelayan",
                    "source": "rss",
                    "stats": {
                        "comments": 1,
                        "reaction": {
                            "like": 0
                        },
                        "share": 0,
                        "view": 0
                    },
                    "status": "publish",
                    "title": "Presiden Minta OJK Pelajari Bunga 3 Persen untuk Modal ke Nelayan",
                    "type": "text",
                    "user": {
                        "create": "27431110790370071"
                    },
                    "flag": {
                        "featured": true
                    },
                    "reporter": null,
                    "editor": null,
                    "reporters": [],
                    "editors": [],
                    "userFlag": {
                        "liked": false,
                        "commented": false,
                        "sharedTimeline": false,
                        "voted": false
                    },
                    "story": null
                }  
            ]
        }

### Add Featured Story [POST]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123

    + Body 
        
            {
                "id": "v1_stories/377081552",
                "type": "story"
            }
            
+ Response 200 (application/json)

        {
            "_key": "story_377081552"
        }
        
### Delete [DELETE]

+ Request (application/json)

    + Header
        
            Authorization: Bearer ABC123
            
+ Response 200 (application/json)

        {
            "deleted": true
        }
        

## My Newsfeed [/newsfeed/me{?page,limit,withheadline,date,dateType,dataType,version}]

### Show [GET]

+ Parameter
    + limit - integer
    + page - integer
    + withheadline - integer
    + date - string
    + dateType - string
    + dataType - string
    + version - string

+ Request

    + Header
        
            Authorization: Bearer ABC123
    
+ Response 200 (application/json)

        {
            "results": [
                {
                    "_key": "1202421528",
                    "_id": "v1_userShare/1202421528",
                    "datatype": "share",
                    "date": {
                        "create": "2018-05-16T12:14:02Z",
                        "publish": "2018-05-16T12:14:02Z"
                    },
                    "author": {
                        "id": "11628981",
                        "name": "aslam hadi",
                        "username": "edi-testing",
                        "profilePicture": "https://alibaba.kumpar.com/kumpar/image/gplus/w_300,h_300,c_fill,g_face/105128486245068962409.jpg",
                        "flag": {
                            "isVerified": null,
                            "isFollowed": false
                        }
                    },
                    "shareCaption": "ahaaay",
                    "object": {
                        "_id": "v1_stories/221390030",
                        "_key": "221390030",
                        "_rev": "521892086",
                        "author": {
                            "_key": "10048204",
                            "id": "10048204",
                            "name": "Agung Surya Bangsa",
                            "username": "agung-surya",
                            "profilePicture": "https://res.cloudinary.com/kumpar/image/upload/w_300,h_300,c_scale,c_thumb/ko4zpwjyjzairxmd3pvt_zane8u_gbjejy.jpg",
                            "flag": {
                                "isVerified": true,
                                "isFollowed": false,
                                "isFollowedPublisher": false
                            },
                            "userFlags": null,
                            "publisher": null,
                            "level": 1
                        },
                        "datatype": "story",
                        "date": {
                            "create": "2017-07-14T11:07:32.115Z",
                            "headline": null,
                            "publish": "2017-07-24T11:58:48.603Z",
                            "update": "2017-07-27T06:45:20.167Z"
                        },
                        "date_sort": "2018-05-16T12:14:02Z",
                        "detail": {
                            "draftjs_object": "{\"entityMap\":{},\"blocks\":[{\"key\":\"8uu6f\",\"text\":\"lololol yeyeye\",\"type\":\"unstyled\",\"depth\":0,\"inlineStyleRanges\":[],\"entityRanges\":[],\"data\":{}}]}",
                            "type": "draftjs"
                        },
                        "edge": {
                            "_key": "1202421528",
                            "_id": "v1_userShare/1202421528",
                            "_from": "v1_users/11628981",
                            "_to": "v1_stories/221390030",
                            "_rev": "_W0GPBXq--_",
                            "date": {
                                "create": "2018-05-16T12:14:02Z"
                            },
                            "shareCaption": "ahaaay",
                            "type": "share"
                        },
                        "edgeFrom": {
                            "id": "11628981",
                            "name": "aslam hadi",
                            "username": "edi-testing",
                            "profilePicture": "https://alibaba.kumpar.com/kumpar/image/gplus/w_300,h_300,c_fill,g_face/105128486245068962409.jpg",
                            "flag": {
                                "isVerified": null,
                                "isFollowed": false
                            }
                        },
                        "editor": null,
                        "is": {},
                        "labels": {
                            "topics": [
                                {
                                    "_key": "135976014",
                                    "_id": "v1_topic/135976014",
                                    "name": "Bom Kampung Melayu",
                                    "slug": "bom-kampung-melayu",
                                    "url": "https://gimg.kumpar.com/kumpar/image/upload/f_auto,h_220,w_361/v1496129554/wpioc40uhqth4besrzhs.jpg",
                                    "special": false,
                                    "flag": {
                                        "isFollowed": false,
                                        "isViewEnable": false
                                    }
                                },
                                {
                                    "_key": "98046867",
                                    "_id": "v1_topic/98046867",
                                    "name": "Ramadhan",
                                    "slug": "ramadhan",
                                    "url": "https://res.cloudinary.com/kumpar/image/upload/f_auto,h_220,w_361/v1495088923/hravo8xocu6mqjqugiog.jpg",
                                    "special": false,
                                    "flag": {
                                        "isFollowed": false,
                                        "isViewEnable": false
                                    }
                                },
                                {
                                    "_key": "57335882",
                                    "_id": "v1_topic/57335882",
                                    "name": "Fabolous Cat",
                                    "slug": "fabolous-cat",
                                    "url": "https://res.cloudinary.com/kumpar/image/upload/h_220,w_361/v1483955122/zhedzc1lt9t1kudaqcyv.jpg",
                                    "special": true,
                                    "flag": {
                                        "isFollowed": false,
                                        "isViewEnable": false
                                    }
                                },
                                {
                                    "_key": "54772541",
                                    "_id": "v1_topic/54772541",
                                    "name": "Pembunuhan Pulomas",
                                    "slug": "pembunuhan-pulomas",
                                    "url": "/img/placeholder.jpg",
                                    "special": false,
                                    "flag": {
                                        "isFollowed": false,
                                        "isViewEnable": false
                                    }
                                }
                            ]
                        },
                        "lead_media": {
                            "cloudinary_ids": [
                                "fqb1nnvqdmagiiy3xgmq"
                            ],
                            "type": "image",
                            "urls": [
                                "https://gimg.kumpar.com/kumpar/image/upload/v1481966824/fqb1nnvqdmagiiy3xgmq.jpg"
                            ]
                        },
                        "lead_text": {
                            "content": "lololol yeyeye",
                            "type": "raw"
                        },
                        "position": {
                            "headline": 0,
                            "sticked": 0
                        },
                        "readertaskid": "213129563",
                        "reporter": null,
                        "slug": "lololol-1500030452116",
                        "stats": {
                            "comments": 3,
                            "reaction": {
                                "like": 0
[...]
